   * {       
    margin: 0;
    padding: 0;
}




#redes-sociales{
    position: absolute;
    margin-top: -20px;
    margin-left: 1310px;
    line-height: 25px;
    border-top: solid #ed620c 2px;
    font-family: 'Roboto Mono', monospace;
}

#redes-sociales a:hover {
    text-decoration: underline #ed620c 1px;
}

#instagram {
    color: white;
    text-decoration: none;
}

#logo-instagram {
    z-index: 1;
    position: absolute;
    margin-left: 1280px;
    margin-top: -16px;
    width: 20px;
}

#facebook{
    color: white;
    text-decoration: none;
}

#logo-facebook {
    z-index: 1;
    position: absolute;
    margin-left: 1280px;
    margin-top: 8px;
    width: 20px;
}

#logo-pizz-speed {
    position: absolute;
    width: 65px;
    margin-left: -30px;
    margin-top: -35px;
}
.by-ian-sznurewicz {
    font-size: 11px;
    position: absolute;
    margin-top: -20px;
    margin-left: 30px;
    color: white;
    text-decoration: underline;
}

.imagen-1{
    width: 500px;
    height: 500px;
}

    /*-------------------------------------------------Inicio Header------------------------------------------------------------*/  

    /*Inicio Titulo Header*/
.h1-header{
    font-size: 40px;
    color: white;
    margin-left: 200px;
}

.imagen-logo {
    width: 120px;
    margin-top: -40px;
    margin-left: -15px;
    position: absolute;
}
    /*Final Titulo Header*/
 


.header {
    position:fixed;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding-left: 30%;
    padding-right: 635px;
    border-bottom: solid #ff6a00 2px;
}

    /*Header Index*/
#header-index-1 {
    margin-top: -550px;
}
    /*Header Index*/

.header a:hover {
    text-decoration: underline white;
    color: #ed620c;
}

.header a:active {
    border: solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 2px;
}

.header a {
    color: rgb(255, 255, 255);
}


    /*Header del INDEX / recomendaciones*/

.header-0:active {
    text-decoration: none;
}
.header-0:hover {
    text-decoration: none;
}

.header-0 a {
    text-decoration:overline #ed620c;
}

.header-recomendaciones {
    position: absolute;
    margin-left: -380px;
    margin-top: 25px;
}

    /*Header del INDEX / recomendaciones*/


    /*Header del INDEX / quienes somos*/

.header-quienes-somos {
    position: absolute;
    margin-left: 800px;
    margin-top: 25px;
}
    /*Header del INDEX / quienes somos*/


/*INICIO*/

.header-1 {
    margin-left: -400px;
    margin-top: 0px;
    position: absolute;
}

.header-1 a {
    text-decoration: none;
}

/*INICIO*/

    /*MENU*/
.header-2{
    margin-left: -330px;
    margin-top: 19px;
}

.header-2 a {
    text-decoration: none;
}
    /*MENU*/


    /*CONTACTOS*/
.header-3{
    margin-left: -260px;
    margin-top: -21px;
}

.header-3 a {
    text-decoration: none;
}
    /*CONTACTOS*/


    /*OFERTAS*/
.header-4{
    margin-left: -143px;
    margin-top: -22px;
}

.header-4 a {
    text-decoration: none;
}
    /*OFERTAS*/


    /* Inicio REDES SOCIALES*/
.header-6{
    margin-left: 30px;
    margin-top: -22px;
}

.header-6 a {
    text-decoration: none;
}
    /*Final REDES SOCIALES*/


    /*Inicio ENVIOS*/

.header-5 {
    margin-left: -50px;
    margin-top: -22px;
}

.header-5 a{
    text-decoration: none;
}
    /*Final ENVIOS*/


    /*Inicio estilo Fonts "Hedaer"*/
.estilo-font{
    font-family: 'Nunito', sans-serif;
}
    /*Final estilo Fonts "Hedaer"*/

    /*-------------------------------------------------Final Header--------------------------------------------------------------*/  




    /*-------------------------------------------Inicio "Registro" / inicio de sesion---------------------------------------------*/  

    /*Formulario Contactos */
#formulario-contactos {
    position: absolute;
    margin-left: 50px;
    padding-left: 1010px;
    padding-right: 0px;
}

#formulario-contactos-2 {
    margin-left: 10px;
    padding-left: 400px;
    padding-right: 400px;
}

.formulario-contactos-0 {
    position: absolute;
    margin-top: 160px;
    margin-left: -890px;
}

#input-2-contactos {
    font-size: 20px;
    position: absolute;
    padding-left: 650px;
    padding-right: 650px;
    margin-left: -1209px;
    margin-top: 150px;
    text-align: center;
}

.formulario-contactos-0 h2 {
    position: absolute;
    margin-top: -180px;
    margin-left: 450px;
}

#header-contactos {
    margin-top: -100px;
}

.imagen-1-contactos {
    position: absolute;
    width: 30px;
    margin-top: 645px;
    margin-left: 60px;
}

.imagen-2-contactos {
    position: absolute;
    width: 30px;
    margin-top: 660px;
    margin-left: 60px;
}

.imagen-3-contactos {
    position: absolute;
    width: 30px;
    margin-top: 746px;
    margin-left: 60px;
}

.imagen-4-contactos {
    position: absolute;
    width: 30px;    
    margin-top: 658px;
    margin-left: 60px;
}

.imagen-5-contactos {
    position: absolute;
    width: 30px;
    margin-top: 675px;
    margin-left: 60px;
}
.parrafo-contactos {
    font-size: 20px;
    position: absolute;
    margin-top: 550px;
    margin-left: 100px;
    line-height: 35px;
}
    /*Formulario Contactos */

.formulario-registro{
    width: 330px;
    background-color:#000000ee;
    padding: 20px;
    margin: auto;
    margin-top: 150px;
    border-radius: 7px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 18px 14px 30px, -18px 14px 30px, -18px -14px 30px, 18px -14px 30px;
    height: 400px;
}

.formulario-registro h2 {
    font-size: 40px;
    color: azure;
    text-decoration:underline;
    line-height: 70px;
    text-align: center;
    font-family: 'Boogaloo', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Source Code Pro', monospace;
}

.input-1 {
    width: 291px;
    padding: 5px;
    border-radius: 7px;
    margin-bottom: 5px;
    border-color:#ff6a00;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.input-2{
    width: 90px;
    background-color: #ff6a00;
    border-radius: 4px;
    border-color:#ff6a00;
    padding: 2px;
}

.formulario-registro p {
    width: 250px;
    font-family: 'Boogaloo', cursive;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 14px;
    line-height: 20px;
}


.formulario-registro a{
    text-decoration:line-through 2px #ff6a00;
    color:#f5f5f5 ;
}

.formulario-registro a:hover {
    text-decoration: underline 2px #ff6a00;
}

    /*Icono Index / conexion "Registro"*/
.icono-registro {
    width: 55px;
    height: 50px;
    margin-left: 1340px;
    margin-top: -410px;
    position:absolute;
    border: solid black;
    border-radius: 100%;
    padding: 10px;
    background-color: white;
}
    /*Icono Index / conexion "Registro"*/


    /*Inicio Body "imagen"*/
.body-1 {
    background-image: url('imagenes/pizza.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    height: 900px;
    width: auto;
    background-size:cover ;
    background-attachment: fixed
}
    /*Final Body "imagen"*/


    /*Inicio Terminos y Condiciones*/
#h1-terminos-condiciones{
    color:rgb(255, 0, 0) ;
}

#terminos-condiciones-1 {
    margin-top: 40px;
}

#span-terminos-condiciones-1, #span-terminos-condiciones-2{
    color: #050405;
}
    /*Final Terminos y Condiciones*/

#registro-correcto {
    position: absolute;
}    
#registro-correcto-1 {
    font-size: 50px;
    margin-top: 130px;
    margin-left: 400px;
    border: solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: #ff6a00;  
    text-decoration:underline black;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Nunito', sans-serif;
}

#registro-correcto-2 {
    font-size: 20px;
    margin-top: 40px;
    margin-left: 20px;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
}

    /*-------------------------------------------Final "Registro" / inicio de sesion----------------------------------------------*/  


        

    /*------------------------------------------------------Inicio Index----------------------------------------------------------*/ 

.parrafo-index{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 550px;
    margin-left: 600px;
}

    /*Footer*/
.footer-index {
    padding: 32px;
    margin-top: 765px;
    margin-bottom: -20px;
    background-color: black;
}
    /*Footer*/


    /*Fondo Index*/
#body-index {
    background-image: url("imagenes/65806.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover ;
    background-attachment: fixed;
}
    /*------------------------------------------------------Final Index----------------------------------------------------------*/  

    /* Inicio Seccion "Contactos"*/
.formulario-contactos {
    position: absolute;
 }

 #contactos-1 {
    margin-top: 130px;
 }

 #contactos-2 {
    margin-top: 100px;
 }
    /*Final seccion "Contactos"*/


    /*Inicio Seccion "Menu"*/
 .menu {
    position: absolute;
    margin-top: 100px; 
}
    /*Final Seccion "Menu"*/
 
    /*Inicio Seccion "Ofertas"*/
 .ofertas {
    position: absolute;
    margin: 200px;
 }
    /*Final Seccion "Ofertas"*/


#recomendaciones {
    background-color: white;
    padding: 600px 220px 310px 220px;
    border: solid black 4px;
    margin-top:230px ;
}

#recomendaciones-2 {
    margin-top: -890px;
    margin-left: -200px;
}

#h1-recomendaciones {
    font-size: 60px;
    color: black;
    position:absolute;
    margin-top: 750px;
    margin-left: 450px;
    text-decoration:overline #ff6a00;
}

 #imagen-recomendaciones-1 {
    position: absolute;
    width: 23%;
    border: solid black 3px;
    border-radius: 10px;
    padding-top: 3px;
    background-color: white;
    margin-top: 500px;
    margin-left: 530px;
 }

 #imagen-recomendaciones-2 {
    position: absolute;
    width: 23%;
    border: solid black 3px;
    border-radius: 10px;
    padding-top: 3px;
    background-color: white;
    margin-top: 440px;
    margin-left: 900px;
 }

 #parrafo-combos {
    font-size: 25px;
    position: absolute;
    margin-top: 600px;
    margin-left: 430px;
    color: black;
 }

    /*Inicio Platos de comida individuales / compartir*/

 #imagen-recomendaciones-3 {
    position: absolute;
    width: 23%;
    height: 180px;
    border: solid black 3px;
    border-radius: 10px;
    padding-top: 3px;
    background-color: white;
    margin-top: 840px;
    margin-left: 960px;
 }

 #imagen-recomendaciones-4 {
    position: absolute;
    width: 23%;
    height: 183px;
    border: solid black 3px;
    border-radius: 10px;
    margin-top: 840px;
    margin-left: 560px;
 }

 #imagen-recomendaciones-5 {
    position: absolute;
    width: 20%;
    height: 150px;
    border: solid black 3px;
    border-radius: 10px;
    margin-top: 860px;
    margin-left: 240px;
 }

 #parrafo-platos {
    font-size: 25px;
    position: absolute;
    margin-top: 900px;
    margin-left: 30px;
    color: black;
 }
    /*Final Platos de comida individuales / compartir*/

#quienes-somos {
    color: rgb(0, 0, 0);
    position: absolute;
    margin-top: -60px;
    background-color: white;
    padding: 600px 1235px 220px 200px;
    border: solid black 4px;
}

#quienes-somos-h2 {
    font-size: 50px;
    text-decoration:overline #ff6a00;
    position: absolute;
    margin-top: -460px;
    margin-left: 340px;
}

#quienes-somos-mapa {
    position: absolute;
    margin-top: -100px;
    margin-left: 325px;
}

#quienes-somos-parrafo-1 {
    font-size: 20px;
    position: absolute;
    margin-top: -125px;
    margin-left: -150px;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#quienes-somos-parrafo-2 {
    font-size: 20px;
    position: absolute;
    margin-top: -30px;
    margin-left: -150px;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}


#quienes-somos-ubicacion {
    position: absolute;
    font-size: 20px;
    margin-top: -155px;
    margin-left: 450px;
    font-family: 'Inter Tight', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#quienes-somos-h2-2 {
    position: absolute;
    font-size: 30px;
    position: absolute;
    margin-top: -230px;
    margin-left: 600px;
}